In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\saran\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\saran\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\saran\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\saran\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\saran\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\saran\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install Django==5.2.5

Requirement already satisfied: Django==5.2.5 in c:\users\saran\anaconda3\lib\site-packages (5.2.5)
Requirement already satisfied: asgiref>=3.8.1 in c:\users\saran\anaconda3\lib\site-packages (from Django==5.2.5) (3.9.1)
Requirement already satisfied: sqlparse>=0.3.1 in c:\users\saran\anaconda3\lib\site-packages (from Django==5.2.5) (0.5.3)
Requirement already satisfied: tzdata in c:\users\saran\anaconda3\lib\site-packages (from Django==5.2.5) (2025.2)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import random

In [8]:
random.randint(10,20)

10

In [9]:
import pandas as pd

In [10]:
pd

In [17]:
pd.json_normalize({"name":["saransh","shubham"],"age":[23,24],"education":["mca","bsc_it"]})

                 name       age      education
0  [saransh, shubham]  [23, 24]  [mca, bsc_it]

In [18]:
from random import randint

In [19]:
import datetime

In [20]:
from datetime import datetime

In [21]:
datetime.today()

datetime.datetime(2025, 8, 19, 13, 14, 19, 678516)

In [27]:
 a = datetime.now()
print(a)

2025-08-19 13:15:30.804917

In [28]:
a.date()

datetime.date(2025, 8, 19)

In [29]:
a.time()

datetime.time(13, 15, 30, 804917)

In [37]:
a.hour

13

In [38]:
a.max

datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)

In [39]:
a.min

datetime.datetime(1, 1, 1, 0, 0)

In [40]:
datetime.time(a)

datetime.time(13, 15, 30, 804917)

In [46]:
datetime.strftime(a,"%y - %m - %d")

'25 - 08 - 19'

In [52]:
datetime.strftime(a,"%Y - %B - %d")

'2025 - August - 19'

In [61]:
# random library

In [66]:
random.choice([12,14,1,17])

17

In [67]:
random.choice([12,14,16,18,20])

12

In [74]:
li = [2,3,4,5,6]
a= []
for i in li:
    s = i**2
    a.append(s)
print(li)
print(a)

[2, 3, 4, 5, 6]
[4, 9, 16, 25, 36]

In [75]:
# list comprehension

In [78]:
a = []
for i in range(5):
    a.append(random.randint(1,10))
print(a)

[4, 8, 7, 9, 2]

In [88]:
a = [random.randint(2,10) for i in range(5)]
print(a)

[6, 9, 4, 9, 10]

In [83]:
a = [i for i in range(5)]
print(a)

[0, 1, 2, 3, 4]

In [89]:
a

[6, 9, 4, 9, 10]

In [92]:
l =[i**2 for i in a]

In [94]:
l

[36, 81, 16, 81, 100]

In [97]:
l = []
for i in range(len(a)):
    l.append(a[i]**2)
print(l)
print(a)

[36, 81, 16, 81, 100]
[6, 9, 4, 9, 10]

In [103]:
name = ["saransh","abhi","anuj"]
age = [23,25,27]
d = {}
for i,j in zip(name,age):
    d[i] = j
print(d)

{'saransh': 23, 'abhi': 25, 'anuj': 27}

In [108]:
{i:j for i ,j in zip(name,age)}

{'saransh': 23, 'abhi': 25, 'anuj': 27}