In [2]:
# define a function

def greeting():
    print("hello everyone nice to meet you")

In [4]:
# call a function
greeting()

hello everyone nice to meet you

# built in functions

In [10]:
name = "saransh"
print(len(name))

7

In [11]:
min(7,8,9)

7

In [12]:
max(10,14,18)

18

# user define functions

In [16]:
# simple function

def greeting():
    print("Hello World")
greeting()

Hello World

In [21]:
#input functions


def greeting(name):
    print(f"Hello {name} baby")
greeting("Dani")

Hello Dani baby

In [33]:
# area of circle

def area_of_circle(r):
    print((22/7)*r*r)
area_of_circle(7)

154.0

In [34]:
def area_of_rectangle(length,width):
    print(length*width)
area_of_rectangle(10,80)

800

# scope

In [38]:
# local scope
def my_profile():
    name = "ujwal"
    age = 24
    education = "Btech"
    job = "hunting"
    print(name,age,education)
my_profile()

ujwal 24 Btech

In [41]:
age   # andar ke baate bahr nhi pta hogi

NameError: name 'age' is not defined

In [48]:
# global scope
job = "netmax"
def my_profile():
    name = "shubham"
    age = 24
    education = "mca"
    job = "Hunting"
    print(name,age,education,job)
my_profile()

shubham 24 mca Hunting

In [49]:
job

'netmax'

In [53]:
# default function

def greeting(name = "saransh"):
    print(f"Hello {name} , Nice to meet you")
greeting("Saru")

Hello Saru , Nice to meet you

In [54]:
def greeting(name = "saransh"):
    print(f"Hello {name} , Nice to meet you")
greeting()

Hello saransh , Nice to meet you

# Return statement

In [124]:
# position wale argument phele ayenge or keyword argument wale baad mai ayenge

In [87]:
def salaray_structure(salary,tax_rate):    # parameter
    tax=salary*tax_rate
    return tax

In [33]:
tax = salaray_structure(80000,0.12)   # argument

In [34]:
tax

9600.0

In [32]:
def salaray_structure(salary,tax_rate = 0.12):     # position and keyword argument
    tax=salary*tax_rate
    return tax


tax=salaray_structure(80000)
tax

9600.0

In [117]:
def volume_of_cube(length,width,hight):
    return length*width*hight
volume_of_cube(10,10,100)

10000

In [2]:
def volume_of_cube(length,width,hight):
    dimensions = f"""
        length :{length}
        width : {width}
        hight : {hight}
        """
    print(dimensions)
    return length*width*hight

In [3]:
volume_of_cube(10,10,100)    # positional argument

        length :10
        width : 10
        hight : 100

10000

In [4]:
volume_of_cube(length = 10,hight = 100,width = 10)  # keyword argument

        length :10
        width : 10
        hight : 100

10000

In [17]:
li = [8,6,7,8,9,4,5,10,11,12]

In [26]:
def sort_half(li : list):
    
    length = len(li)
    li.sort()
    first_half = li[:length//2]
    print(first_half)
    second_half = li[length//2:]
    
    second_half.sort(reverse = True)
    print(second_half)
    return first_half+second_half

In [27]:
sort_half(li)

[4, 5, 6, 7, 8]
[12, 11, 10, 9, 8]

[4, 5, 6, 7, 8, 12, 11, 10, 9, 8]

# palidrom

In [25]:
def check_palindrome(n = None ):          # first or last word same hona chiye
     n = n or input("Enter your name")
     return str(n).strip().lower() == str(n)[::-1].strip().lower()

In [37]:
check_palindrome("saras ")

True

In [29]:

def check_prime(n):
    for  i in range(2,n):
        print(n,i,n%i)
        if n % i == 0:
            return False
    return True

In [6]:
check_prime(11)

True

In [1]:
def check_prime(n):
     if n < 2:
        return False
     for i in range (2,int(n**(1/2)+1)):          # using underroot
        if n % i == 0:
            return False
     return True

In [2]:
check_prime(2)

True

 # Q. check prime numbers between 1 to 20?

In [3]:
def prime_in_range(start,end=0):
    if start > end:
        start,end = end,start
    l = []
    for i in range(start,end):
        if check_prime(i):
            l.append(i)
    return l

In [4]:
prime_in_range(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]