In [10]:
class car():
        tyre = 4
    
        def move():
            print("I am moving forward")

In [12]:
car.tyre

4

In [13]:
car.move()

I am moving forward

In [14]:
class human():
    legs = 2

    def eat_up():
        print("i am eating")
        print("now i am full")
        print("Thank you")

In [15]:
human.eat_up()

i am eating
now i am full
Thank you

In [18]:
human.legs

2

In [21]:
# object

In [39]:
gadi = car()

In [40]:
gadi2 = car()

In [41]:
gadi.tyre

4

In [42]:
gadi2.tyre

4

In [46]:
gadi.tyre = 3

In [47]:
gadi.tyre

3

In [48]:
gadi2.tyre

4

In [63]:
class car():
    tyre = 4


    def move(self):    # jo bhi object create hpoga isliye self use kiya hai
        print("moving forward")

In [64]:
car.tyre

4

In [56]:
gadi = car()
gadi2 = car()

In [58]:
gadi.move()

moving forward

In [59]:
gadi2.move()

moving forward

In [60]:
gadi.tyre

4

In [62]:
gadi2.tyre

4

In [69]:
class car():
    tyre = 4

    def __init__(self,model_name):
        self.name = model_name

    def move(self):
        print("moving forward")

In [71]:
gadi = car("swift")

In [72]:
gadi.name

'swift'

In [73]:
gadi2 = car("scorpio")

In [75]:
gadi2.name

'scorpio'

In [76]:
gadi.move()

moving forward

In [77]:
gadi2.move()

moving forward

In [83]:
class car():
    tyre = 4

    def __init__(self,model,year):
        self.model = model
        self.year = year

    def introduction(self):
        print(f"hello i am {self.model} and i was made in {self.year}")

    def move(self):
        print(f"i am {self.model} moving forward since {self.year}")

In [84]:
gadi = car("swift",2000)

In [85]:
gadi.introduction()

hello i am swift and i was made in 2000

In [86]:
gadi.move()

i am swift moving forward since 2000

# Magic function or special functions

In [110]:
class Account():
    BANK_NAME = "SBI"

    def __init__(self,name,initial_deposit = 0):
        self.name = name 
        self.balance = initial_deposit
        print(f" {self.name} Welcome to {self.BANK_NAME}")

    def __str__(self):

        a = f"""
             ========={self.BANK_NAME}=========
             Account Holder  : {self.name}
             Account balance : {self.balance}
             """
        return a

    def __del__(self):
         print(f"{self.name} money {self.balance} item was empty")

In [116]:
phela_Account = Account("saransh",50000)

 saransh Welcome to SBI

In [117]:
phela_Account.name

'saransh'

In [118]:
phela_Account.balance

50000

In [119]:
print(phela_Account)

             =========SBI=========
             Account Holder  : saransh
             Account balance : 50000

In [120]:
del phela_Account

saransh money 50000 item was empty

In [203]:
class Account():
    BANK_NAME = "HDFC"

    def __init__(self,name,initial_deposit = 0):
        self.name = name
        self.balance = initial_deposit
        print(f"{self.name} Welcome to {self.BANK_NAME}")

    def __str__(self):              # str
        about = f"""
                ===== Welcome To {self.BANK_NAME} =====
                 Account Holder : {self.name}
                 Acoount Balance : {self.balance}"""
        return about

    def __del__(self):
        using = f"""
        ====={self.name} and his {self.balance} was deleted====="""
        print(using)

In [204]:
dusra_Account = Account("saransh",10000)

saransh Welcome to HDFC

In [205]:
dusra_Account.name

'saransh'

In [206]:
dusra_Account.balance

10000

In [207]:
print(dusra_Account)

                ===== Welcome To HDFC =====
                 Account Holder : saransh
                 Acoount Balance : 10000

In [208]:
del dusra_Account

        =====saransh and his 10000 was deleted=====

# Encapsulation

In [323]:
class Account():
    BANK_NAME = "ICIC_BANK"

    def __init__(self,name,initial_deposit = 0):
        self.__name = name
        self.__balance = initial_deposit
        print(f"Hello {self.__name} Welcome to {self.BANK_NAME}")

    def __str__(self):
        about  = f"""
                  ===== Welcome to {self.BANK_NAME}===== 
                    Account Holder : {self.__name}
                    Account Balance : {self.__balance}"""
        return about

In [324]:
third_account = Account("shubham",30000)

Hello shubham Welcome to ICIC_BANK

In [325]:
print(third_account)

                  ===== Welcome to ICIC_BANK=====
                    Account Holder : shubham
                    Account Balance : 30000

In [326]:
third_account.BANK_NAME

'ICIC_BANK'

In [358]:
class Account():
    BANK_NAME = "BANK OF BRODA"

    def __init__(self,name,initial_deposit = 0):
        self.__name = name
        self.__balance = initial_deposit
        print(f" Hello {self.__name} Welcome to {self.BANK_NAME}")

    def __str__(self):
        about  = f"""
        ===== Welcome to {self.BANK_NAME} =====
              Account Holder : {self.__name}
              Account Balance : {self.__balance}"""
        return about

    def __del__(self):
        using = f"""
        ===== {self.__name} and {self.__balance} Has No {self.BANK_NAME} Details"""
        print(using)

    def __transactions(self,amount,T):
        print(f"{amount} was {T}")
        print(f"current balance {self.__balance}")
        if T == "credited":
            print(f"initial amount {self.__balance - amount }")
        else:
            print(f"initial amount {self.__balance + amount}")

    def credit(self,amount = 0):
        self.__balance += amount
        self.__transactions(amount,"credited")

    def debit(self,amount = 0):
        if self.__balance > amount:
            self.__transactions(amount,"debited")
            return amount
        else:
            print("insufficient balance")

In [359]:
fourth_account = Account("Ujwal",1200000)

 Hello Ujwal Welcome to BANK OF BRODA

In [360]:
Account.BANK_NAME

'BANK OF BRODA'

In [366]:
print(fourth_account)

        ===== Welcome to BANK OF BRODA =====
              Account Holder : Ujwal
              Account Balance : 1203000

In [367]:
fourth_account.credit(3000)

3000 was credited
current balance 1206000
initial amount 1203000

In [368]:
print(fourth_account)

        ===== Welcome to BANK OF BRODA =====
              Account Holder : Ujwal
              Account Balance : 1206000

In [369]:
fourth_account.debit(2000)

2000 was debited
current balance 1206000
initial amount 1208000

2000

In [370]:
print(fourth_account)

        ===== Welcome to BANK OF BRODA =====
              Account Holder : Ujwal
              Account Balance : 1206000

In [27]:
ranks = ["A",1,2,3,4,5,6,7,8,9,10, "J", "Queen", "King"]
print(ranks)

['A', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'J', 'Queen', 'King']

In [28]:
suits = "spade","diamond","club","heart"
print(suits)

('spade', 'diamond', 'club', 'heart')

In [133]:
class card():
    def __init__(self,rank,suit):
        self.rank = rank
        self.suit = suit

    def __str__(self):
        return f"{self.rank} of {self.suit}"

    def value(self):
        a = self.rank
        if a == "A":
            return 1
        elif a == "J":
            return 11
        elif a == "Queen":
            return 12
        elif a == "King":
            return 13
        else:
            return int(a)

In [134]:
a = card("King","diamond")
print(a)

King of diamond

In [135]:
a.value()

13

In [136]:
b = card("Queen","heart")

In [137]:
print(b)

Queen of heart

In [138]:
b.value()

12

In [139]:
import random

In [148]:
class deck_of_cards():


    def __init__(self):
        self.suits = "spade","diamond","club","heart"
        self.ranks = ["A",1,2,3,4,5,6,7,8,9,10, "J", "Queen", "King"]

        self.cards = []

        for suit in self.suits:
            for rank in self.ranks:
                patta  = card(rank,suit)
                self.cards.append(patta)

    def __str__(self):
        a = ""
        for card in self.cards:
            a+= f"{card.rank} of {card.suit} \n"
        return a

    def deal(self):
        return self.cards.pop()

    def shuffle(self):
        random.shuffle(self.cards)

In [149]:
deck = deck_of_cards()

In [150]:
deck

In [151]:
deck.cards

[<__main__.card at 0x24e4abacfb0>,
 <__main__.card at 0x24e4abaf950>,
 <__main__.card at 0x24e4aa2d970>,
 <__main__.card at 0x24e4aa2f0b0>,
 <__main__.card at 0x24e4aa2f050>,
 <__main__.card at 0x24e4aa2f1d0>,
 <__main__.card at 0x24e4aa2f110>,
 <__main__.card at 0x24e4aa2f170>,
 <__main__.card at 0x24e4aa2f230>,
 <__main__.card at 0x24e4aa2f290>,
 <__main__.card at 0x24e4aa2f2f0>,
 <__main__.card at 0x24e4aa2f350>,
 <__main__.card at 0x24e4aa2f3b0>,
 <__main__.card at 0x24e4aa2f410>,
 <__main__.card at 0x24e4aa2f470>,
 <__main__.card at 0x24e4aa2f4d0>,
 <__main__.card at 0x24e4aa2f530>,
 <__main__.card at 0x24e4aa2f590>,
 <__main__.card at 0x24e4aa2f5f0>,
 <__main__.card at 0x24e4aa2f650>,
 <__main__.card at 0x24e4aa2f6b0>,
 <__main__.card at 0x24e4aa2f710>,
 <__main__.card at 0x24e4aa2f770>,
 <__main__.card at 0x24e4aa2f7d0>,
 <__main__.card at 0x24e4aa2f830>,
 <__main__.card at 0x24e4aa2f890>,
 <__main__.card at 0x24e4aa2f8f0>,
 <__main__.card at 0x24e4aa2f950>,
 <__main__.card at 0x24e4aa2f9b0>,
 <__main__.card at 0x24e4aa2fa10>,
 <__main__.card at 0x24e4aa2fa70>,
 <__main__.card at 0x24e4aa2fad0>,
 <__main__.card at 0x24e4aa2fb30>,
 <__main__.card at 0x24e4aa2fb90>,
 <__main__.card at 0x24e4aa2fbf0>,
 <__main__.card at 0x24e4aa2fc50>,
 <__main__.card at 0x24e4aa2fcb0>,
 <__main__.card at 0x24e4aa2fd10>,
 <__main__.card at 0x24e4aa2fd70>,
 <__main__.card at 0x24e4aa2fdd0>,
 <__main__.card at 0x24e4aa2fe30>,
 <__main__.card at 0x24e4aa2fe90>,
 <__main__.card at 0x24e4aa2fef0>,
 <__main__.card at 0x24e4aa2ff50>,
 <__main__.card at 0x24e4aa2ffb0>,
 <__main__.card at 0x24e4abcc050>,
 <__main__.card at 0x24e4abcc0b0>,
 <__main__.card at 0x24e4abcc110>,
 <__main__.card at 0x24e4abcc170>,
 <__main__.card at 0x24e4abcc1d0>,
 <__main__.card at 0x24e4abcc230>,
 <__main__.card at 0x24e4abcc290>,
 <__main__.card at 0x24e4abcc2f0>,
 <__main__.card at 0x24e4abcc350>,
 <__main__.card at 0x24e4abcc3b0>,
 <__main__.card at 0x24e4abcc410>]

In [152]:
deck.shuffle()

In [153]:
print(deck.deal())

6 of heart

In [154]:
print(deck)

Queen of diamond
J of spade
9 of spade
1 of diamond
A of diamond
King of heart
Queen of heart
5 of diamond
7 of heart
8 of spade
9 of diamond
J of heart
King of spade
7 of spade
3 of diamond
3 of heart
10 of heart
8 of club
6 of club
Queen of club
6 of spade
10 of club
1 of spade
4 of heart
4 of club
A of heart
2 of spade
2 of diamond
10 of diamond
1 of club
7 of diamond
6 of diamond
9 of heart
4 of spade
2 of club
A of club
5 of heart
9 of club
8 of heart
King of diamond
4 of diamond
Queen of spade
5 of spade
A of spade
King of club
10 of spade
7 of club
3 of spade
5 of club
8 of diamond
J of club
1 of heart
2 of heart
J of diamond
3 of club

In [165]:
print(deck.deal())

J of diamond