In [4]:
# Ulta loop

In [5]:
i = 5
n = 0
while i >= n:
    print(i)
    i-=1

5
4
3
2
1
0

In [14]:
i =5
while i:
    print(i,i-1)
    i-=1

5 4
4 3
3 2
2 1
1 0

# set

In [49]:
s = {4,5,6,8,7}
for i in s:
    print(i)

4
5
6
7
8

# For loop

In [44]:
course = ["saransh","akash","abhi","chintu"]
for person in course:
    print("Hello",person)

Hello saransh
Hello akash
Hello abhi
Hello chintu

In [53]:
for i in range(0,10,2):     # 2 is increament
    print(i)

0
2
4
6
8

In [58]:
name = "saransh"
for i in range(len(name)):
    print(name[i])

s
a
r
a
n
s
h

In [43]:
parchi = ["tamatar","pyaz","aloo","bhindi"]
for i in range(1):
    print("hello",parchi)

hello ['tamatar', 'pyaz', 'aloo', 'bhindi']

In [4]:
n = int(input("Enter your name"))
for i in range(1,11):
    print(n,"x",i,"=",i*n)

Enter your name 24

24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

In [10]:
n = int(input("Enter your name"))
for i in range(1,11):
    print(n,"/",i,"=",i/n)

Enter your name 10

10 / 1 = 0.1
10 / 2 = 0.2
10 / 3 = 0.3
10 / 4 = 0.4
10 / 5 = 0.5
10 / 6 = 0.6
10 / 7 = 0.7
10 / 8 = 0.8
10 / 9 = 0.9
10 / 10 = 1.0

In [22]:
name = ["saransh","lasan","ritik","happy"]
for i in range(len(name)):
    print(name[i][0:3])

sar
las
rit
hap

In [32]:
name = ["lokesh", "kunal", "arjun", "rakesh"]
for i in range(len(name)):
    print(name[i][0:3])

lok
kun
arj
rak

In [36]:
n = int(input("Enter your value"))
for i in range (1,11):
    print(n,"-",i,"=",n-i)

Enter your value 10

10 - 1 = 9
10 - 2 = 8
10 - 3 = 7
10 - 4 = 6
10 - 5 = 5
10 - 6 = 4
10 - 7 = 3
10 - 8 = 2
10 - 9 = 1
10 - 10 = 0

In [47]:
n = input("enter your name:")
for i in range(len(n)):
    print(n[i])

enter your name: Happy jangra

H
a
p
p
y

j
a
n
g
r
a